body {
  background-color: #fefaef !important;
}

.container {
  min-height: 100vh;
  background-color: #fefaef !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  align-items: center;
  padding-top: 12px;
}

.quizz-card {
  width: 30rem;
}

.quizz-answer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg_success,
.bg_danger {
  color: white;
}
